@font-face {
    font-family: "geological";
    src: url("geological.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root {
    --fond: #0C161D;
    --secondary: #1E4B67;
    --accent: #1E5E85;
    --text: #E2F0F8;
    --light: #FFFFFF; 
    --dark-color: #2c3e50;
    --btn3: #4c4c4f;
    --bgsuccess:#2A5318;
    --bordersuccess: #0B1207;
    --success: #D2F4E6;
    --bgerror:#7F1015;
    --bordererror:#5F1C1F;
    --error: #F8E2E4;
    --font-display: "Geological", "Playfair Display", serif;
    --font-body: "Jost", "Segoe UI", sans-serif;
}
body {
    font-family: var(--font-body);
    margin: 0;
    background: var(--fond);
    color: #222;
}

html {
    scroll-behavior: smooth;
}
header {
    background-color: var(--secondary);
    border-bottom: var(--accent) 3px solid;
    padding: 15px 15px;
    position:sticky;
    top: 0;
    z-index: 700;
}
#navigation{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
#navigation form{
    margin-left: auto;
    margin-top: 3px;
    display: flex;
}
#navigation button{
    background-color: var(--secondary);
    color: var(--text);
    border-radius: 25px;
}
#navigation button:hover{
    background-color: var(--text);
    color: var(--secondary);
    border: 1px solid whitesmoke;
}
header nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header nav a {
    display: flex;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    border: 1px solid transparent;
    color: var(--text);
    align-items: center;
    margin-top: 10px;
    padding: 7px 6px;
    width: 85px;
    height: 25px;
    gap: 10px;
    text-decoration: none;
}

header nav a.menubar{
    display: none;
}

header nav a:hover{
    font-family: var(--font-body);
    text-decoration: dashed;
    background-color: var(--text);
    color: var(--secondary);
    border: 1px solid whitesmoke;
    border-radius: 45px;
}
header nav button{
    border: 1px solid transparent;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

main {
    max-width: 900px;
    margin: 30px auto;
    background-color: var(--light);
    padding: 25px;
    border-radius: 6px;
}
/*tableau*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    border-radius: 15px;
}

table th,
table td {
    border: 1px solid darkgray;
    padding: 8px 10px;
    align-items: center;
    text-align: center;
}

table th {
    background: #c8e7ee;
}


table td a,table td button{
    width: 34px;
    height: 34px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    text-decoration: none;
    background-color: var(--btn3);
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
    color: var(--light);
    cursor: pointer;
    margin: 0 3px;
    padding: 0;
}

table td a:hover,
table td button:hover {
    background-color: var(--light);
    color: var(--btn3);
    border: 1px solid var(--btn3);
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: var(--font-body);
}

button{
    background-color: var(--btn3);
    color: var(--light);
    box-sizing: border-box;
    width: auto;
    height: auto;
    border-radius: 25px;
    padding: 10px 10px;
    margin: 10px 10px;
    transition: all 0.5s ease-in-out;
}
button:hover{
    background-color: var(--light);
    color: var(--btn3);
    border: 2px solid var(--btn3);
}


input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: right;
    border-radius: 15px;
}
/*parti checkbox*/
.chip-grp{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px;
}
.chip-inp{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.chip-lab{
    display: inline-flex;
    padding: 8px 14px;
    align-items: center;
    color: var(--text);
    background-color: var(--accent);
    border-radius: 35px;
    user-select: none;
    border: 2px solid var(--text);
    transition: all 0.5s ease-in-out;
}
.chip-lab:hover{
    border: 2px solid var(--accent);
    background-color: var(--text);
    color: var(--accent);
} 
.chip-inp:checked + .chip-lab{
    border: 2px solid var(--accent);
    background-color: var(--text);
    color: var(--accent);
}

.chip-inp:focus-visible +.chip-lab{
    border: 2px solid var(--accent);
    background-color: var(--text);
    color: var(--accent);
}
/*parti radio*/
.rd-grp {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px;
}

.rd-inp {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.rd-lab {
    display: inline-flex;
    margin: 2px 2px;
    padding: 8px 14px;
    align-items: center;
    border-radius: 35px;
    user-select: none;
    transition: all 0.5s ease-in-out;
}

.rd-lab.rd-ec{
    background-color: var(--bgsuccess);
    border: 2px solid var(--bordersuccess);
    color: var(--success);
}

.rd-lab.rd-t{
    background-color: var(--bgerror);
    border: 2px solid var(--bordererror);
    color: var(--error);
}
.rd-lab.rd-ec:hover{
    border: 2px solid var(--bgsuccess);
    background-color: var(--success);
    color: var(--bordersuccess);
}

.rd-lab.rd-t:hover{
    border: 2px solid var(--bgerror);
    background-color: var(--error);
    color: var(--bordererror);
}

.rd-inp:checked+.rd-lab.rd-ec{
    border: 2px solid var(--bgsuccess);
    background-color: var(--success);
    color: var(--bordersuccess);
}

.rd-inp:checked+.rd-lab.rd-t {
    border: 2px solid var(--bgerror);
    background-color: var(--error);
    color: var(--bordererror);
}

.rd-inp:focus-visible+.rd-lab.rd-ec{
    border: 2px solid var(--bgsuccess);
    background-color: var(--success);
    color: var(--bordersuccess);
}

.rd-inp:focus-visible+.rd-lab.rd-t{
    border: 2px solid var(--bgerror);
    background-color: var(--error);
    color: var(--bordererror);
}

/*button retour*/
.retour{
    background-color: var(--btn3);
    font-family: var(--font-body);
    color: var(--light);
    width: auto;
    height: auto;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}
.retour a{
    color: var(--light);
    text-decoration: none;
    border: 1px solid transparent;
    margin-left: 20px;
    padding: 4px 10px;
    border-radius: 25px;
    transition: all 0.5s ease;
}
.retour a:hover{
    background-color: var(--light);
    color: var(--btn3);
    border: 1px solid var(--btn3);
}
/*parti de show*/
.champ{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

/*button imprime*/
.btn-print{
    transition: all 0.5s ease-in-out;
    background-color: var(--btn3);
    color: var(--light);
    width: auto;
    height: auto;
    padding: 0 8px;
    border: 1px solid transparent;
}

.btn-print svg {
    display: none;
}

/*button telecharge*/
.btn-download{
    transition: all 0.5s ease-in-out;
    background-color: var(--btn3);
    border: 1px solid transparent;
    color: var(--light);
    width: auto;
    padding: 10px 8px;
    text-decoration: none;
    border-radius: 25px;
}
.btn-download svg{
    display: none;
}

/*button chemin vers formulaire de creation*/
.btn-create {
    text-decoration: none;
    color: var(--light);
    background-color: var(--btn3);
    width: auto;
    border: 1px solid transparent;
    border-radius: 25px;
    align-items: center;
    padding: 8px 12px;
    transition: all 0.5s ease-in-out;
}
.btn-create:hover,.btn-print:hover,.btn-download:hover{
    background-color: var(--light);
    color: var(--btn3);
    border: 1px solid var(--btn3);
}


form.inline {
    display: inline;
}

.alert-success {
    background: var(--success);
    color: var(--bgsuccess);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.error {
    color: var(--error);
    font-size: 13px;
}
@media ( max-width:720px) {
    header nav{
        align-items: flex-start;
    }
    header nav .menu .menubar{
        display:flex;
        justify-content: center;
        padding: 4px 12px;
        width: auto;
        height: auto;
    }
    header nav .element{
        display: none;
    }
    header nav .element.open{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    header nav a{
        margin-left: 20px;
        padding: 7px 0;
        justify-content: center;
    }
    header nav .element.open:hover{
        border: 1px solid whitesmoke;
    }
    #navigation form{
        margin-left: 0%;
        justify-content: flex-start;
    }
    #navigation{
        flex-direction: column;
        align-items: flex-start;
        display: none;
    }
    #logout-form .logout-link {
        margin-right: auto;
        align-items: flex-end;
    }
    #navigation.open{
        display: flex;
    }
    table{
        display: block;
        overflow-x: auto;
        width: max-content;
        -webkit-overflow-scrolling: touch;
        cursor: grab;
        white-space: nowrap;
        max-width: 100%;
    }
    .champ{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .btn-download svg{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-download{
        margin-bottom: 3px;
        margin-top: 9px;
        text-align: center;
        align-items: center;
        width: 28px;
        height: 16px;
    }
    .btn-download span{
        display: none;
    }
    .btn-print .text{
        display: none;
    }
    .btn-print svg{
        display: block;
    }
}